@import "tailwindcss";

#root {
  display: flex;
  align-items: center;
  background-color: #00bfff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/dolphins.gif");
}
li[role="tab"] {
  background-color: rgb(192, 192, 192);
}

.dolphinsBackground {
  background-image: url("/dolphins.gif");
}

/* Container that holds both card sides */
.flip-card {
  perspective: 1000px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

/* Both sides share these rules */
.flip-card-side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Front */
.flip-card-front {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}

/* Back */
.flip-card-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
