@import "tailwindcss";

#root {
  display: flex;
  align-items: center;
  background-color: #00bfff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/dolphins.gif");
}
li[role="tab"] {
  background-color: rgb(192, 192, 192);
}

.dolphinsBackground {
  background-image: url("/dolphins.gif");
}
